<style>
  .slider {
      width: 100%;
      position: relative;
      margin: auto
      overflow: hidden;
  }

  .slide {
      width: 500px
      display: none
  }

  .displaySlide {
      display: block
  }
</style>

<script>
  let slides
  let slideIndex = 0
  let intervalID = null

  const initializeSlider = () => {
      slides = document.querySelectorAll(".slide")
      console.log(slides)
      slides[slideIndex].classList.add("displaySlide")
      setInterval(nextSlide,{{section.settings.slide_interval}})
  }

  document.addEventListener("DOMContentLoaded",initializeSlider)

  const showSlide = () => {

  }

  const prevSlide = () => {

  }

  const nextSlide = () => {

  }
</script>

<div class="slider">
  <div class="slides">
    {% for block in section.blocks %}
      {% if block.settings.carousel_image != blank %}
        <img
          class="slide"
          src="{{block.settings.carousel_image | img_url: 'master'}}"
          alt="carousel_image"
          height="100%"
          width="100%"
        >
      {% endif %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
    "name": "Carousel",
    "settings": [
        {
            "type": "number",
            "label": "Slide Interval (ms)",
            "id": "slide_interval",
            "default": 5000
        }
    ],
    "blocks": [
        {
            "name": "attachement",
            "type": "image",
            "settings": [
                {
                    "type": "image_picker",
                    "label": "image",
                    "id": "carousel_image"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Carousel"
        }
    ]
}
{% endschema %}
