<div>
    {% for block in section.blocks %}
        {%if block.settings.carousel_image != blank%}
            <div>
                <img src="{{block.settings.carousel_image | img_url: 'master'}}" width="1280px" height="720px">
            </div>
        {%endif%}
    {%endfor%}
</div>


{%  schema  %}  
    {
        "name": "Carousel",
        "settings": [],
        "blocks": [
            {
                "name": "attachement",
                "type": "image",
                "settings": [
                    {
                        "type": "image_picker",
                        "label": "image",
                        "id": "carousel_image"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Carousel"
            }
        ]
    }
{% endschema %} 