<style>
  .slider {
      width: 100%;
      position: relative;
      margin: auto
      overflow: hidden;
  }

   .slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: red;
  }

  .prevButton {
    left: 10%;
  }

  .nextButton {
    right: 10%;
  }

  .slides {
      display: flex;
      justify-content: center;
  }

  .slide {
      width: 1000px;
      display: none;
  }

  .displaySlide {
      display: block;
  }
</style>

<script>
  let slides
  let slideIndex = 0
  let intervalID = null

  const initializeSlider = () => {
      slides = document.querySelectorAll(".slide")
      if (slides.length > 0)
      {
        slides[slideIndex].classList.add("displaySlide")
        intervalID = setInterval(nextSlide,{{section.settings.slide_interval}})
      }
  }

  document.addEventListener("DOMContentLoaded",initializeSlider)

  const showSlide = (index) => {
      if (index >= slides.length)
      {
        slideIndex = 0
      } else if (index < 0)
      {
        slideIndex = slides.length - 1
      }

      slides.forEach(slide => {
        slide.classList.remove("displaySlide")
      })
      slides[slideIndex].classList.add("displaySlide")
  }

  const prevSlide = () => {
      clearInterval(intervalID)
      slideIndex--;
      showSlide(slideIndex);
  }

  const nextSlide = () => {
      slideIndex++;
      showSlide(slideIndex);
  }
</script>

<div class="slider">
  <div class="slides">
    {% for block in section.blocks %}
      {% if block.settings.carousel_image != blank %}
        <img
          class="slide"
          src="{{block.settings.carousel_image | img_url: 'master'}}"
          alt="carousel_image"
          height="100%"
          width="100%"
        >
      {% endif %}
    {% endfor %}
  </div>
  <button class="prevButton" onclick="prevSlide()">Prev</button>
  <button class="nextButton" onclick="nextSlide()">Next</button>
</div>

{% schema %}
{
    "name": "Carousel",
    "settings": [
        {
            "type": "number",
            "label": "Slide Interval (ms)",
            "id": "slide_interval",
            "default": 5000
        },
        {
            "type": "range",
            "id": "margin_top",
            "min": 1,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Margin Top",
            "default": 5
        }
    ],
    "blocks": [
        {
            "name": "attachement",
            "type": "image",
            "settings": [
                {
                    "type": "image_picker",
                    "label": "image",
                    "id": "carousel_image"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Carousel"
        }
    ]
}
{% endschema %}
