<style>
    .slider {
        width: 100%;
        position: relative;
        margin: auto
        overflow: hidden;
    }

    .slide {
        display: none
    }

    .displaySlide {
        display: block
    }
</style>
    
<script>
    const slides = document.querySelectorAll(".slide")
    let slideIndex = 0
    let intervalID = null

    const initializeSlider = () => {
        slides[slideIndex].classList.add("displaySlide")
        setInterval(nextSlide,{{section.settings.slide_interval}})
    }

    document.addEventListener("DOMContentLoaded",initializeSlider)

    const showSlide = () => {

    }

    const prevSlide = () => {

    }

    const nextSlide = () => {
        
    }
</script>

<div class="slider">
    {% for block in section.blocks %}
        <div class="slides">
            {%if block.settings.carousel_image != blank%}    
                <img class="slide" src="{{block.settings.carousel_image | image_url: 'master'}}" alt="carousel_image" height="100%" width="100%">
            {%endif%}
        </div>
    {%endfor%}
</div>

{%  schema  %}  
    {
        "name": "Carousel",
        "settings": [
            {
                "type": "number",
                "label": "Slide Interval (ms)",
                "id": "slide_interval",
                "default": 5000
            }
        ],
        "blocks": [
            {
                "name": "attachement",
                "type": "image",
                "settings": [
                    {
                        "type": "image_picker",
                        "label": "image",
                        "id": "carousel_image"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Carousel"
            }
        ]
    }
{% endschema %} 